body {
    font-size: 1.5rem;
}

#content-wrapper {
    background-color: lightgray;
}

#nav-brand {
    font-size: 1.8rem;
    color: rgb(230, 226, 29);
}

#search-box {
    width: 350px;
}

h1, h2 {
    text-decoration: underline;
    color: blue;
}

.daily-max {
    font-size: 2.3rem;
}

.daily-min {
    color: rgb(77, 73, 73);
}

.daily-forecast {
    margin-top: auto;
    height: 100%;
    text-align: center;
}

#attraction-details {
    background-color: rgb(20, 235, 224);
    padding: 15px;
}

#trash-bin {
    margin-top: 10px;
    height: 40px;
}

#delete-trip {
    color: red;
}