body {
    font-size: 1.5rem;
}

#content-wrapper {
    background-color: lightgray;
}

#nav-brand {
    font-size: 1.8rem;
    color: rgb(230, 226, 29);
}

#search-box {
    width: 350px;
}

h2 {
    text-decoration: underline;
    color: blue;
}

.daily-max {
    font-size: 2.3rem;
}

.daily-min {
    color: rgb(77, 73, 73);
}

/* .daily-forecast {
    padding-top: 30px;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: white;
} */