{% extends "base.html" %}

{% block title %}Add Trip{% endblock %}

{% block content %}
{% if session["edit"] == True %}
    <h1 class="text-center">Edit Trip</h1>
{% else %}
    <h1 class="text-center">New Trip</h1>
{% endif %}
<div class="mx-5">
    <form method="POST">
        {{ form.hidden_tag() }}

        {% for field in form
        if field.widget.input_type != 'hidden' %}
        <div class="form-group">
            {{ field.label }}
            {{ field(class_="form-control") }}
            {% for error in field.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>
        {% endfor %}

        {% if session["edit"] == True %}
            <button class="btn btn-primary mb-2">Update</button>
        {% else %}
            <button class="btn btn-primary mb-2">Save</button>
        {% endif %} 
    </form>
</div>

{% endblock %}